# EditorConfig homepage: http://EditorConfig.org

# For detailed style guid, please refer to:
#  https://github.com/dataxu/style-guides/blob/master/java/java-style-guide.md

# top-most EditorConfig file
root = true

indent_size = 12
tab_width = 12
