# EditorConfig homepage: http://EditorConfig.org

# For detailed style guid, please refer to:
#  https://github.com/dataxu/style-guides/blob/master/java/java-style-guide.md

# top-most EditorConfig file
root = true

# specific settings for java
[*.java]

indent_size = 12
max_line_length = 120
indent_brace_style = 1TBS
tab_width = 12
